.btn {
    border: 1px solid rgb(77,208,225);
    background-color: rgb(0,96,100);
    color: rgb(77,208,225);
    padding: 8px 16px;
    text-decoration: none;

}

.btn:hover {
    border: rgb(0,96,100);
    background: rgb(77,208,225);
}